:root {
    --pl_blue01: #69C4EE;
    --pl_black05: rgba(0, 0, 0, 0.3);
    --pl_black01: #1F1F1F;
    --pl_orange01: #ECB18F;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h6, h5, h4, h3, h2, h1, p, a {
    text-decoration: none;
    text-transform: none;
    padding: 0;
    margin: 0;
    color: black;
    /* font */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Navigation (Menu) */

nav {
    height: 75px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    border-top: 5px solid var(--pl_blue01);
    background-color: var(--pl_black05);
}

nav .pl_content {
    height: 60px;
    width: 67%;

    margin: 7.5px 0 0 16.5%;
}

nav .pl_content h1 {
    float: left;

    line-height: 60px;
    font-size: 50px;
    color: white;
}

nav .pl_content a {
    height: 75px;
    float: right;

    margin: -7.5px 20px 0 0;
}

nav .pl_content a:nth-child(2) {
    margin: -7.5px 0 0 0;
}

nav .pl_content a:hover {
    background-color: var(--pl_blue01);
}

nav .pl_content a img {
    height: 40px;

    margin: 15px 0 0 0;
    padding: 0 7px 0 7px;
}

/* Main (corps du site) */
main {
    height: 2000px;
    width: 70%;

    margin: 0 0 0 15%;
    background-color: var(--pl_orange01);
}

footer {
    height: 400px;
    width: 100%;

    margin: 10px 0 0 0;
    background-color: var(--pl_black01);    
}